body{
    width: 100vw;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    width: 100%;
}

.icon{
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

.headerBar{
    display: flex;
    flex-direction: row;
    background-color: rgb(67, 67, 67);
    align-items: center;
 
} 
.headerBarTitle{
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 1%;
}

.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-image: url("https://placekitten.com/g/1400/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    height: 30vh;
} 
.headerContentHello{
    font-size: 6vw;
    font-weight: 700;
    color: white;
}
.headerContentText{
    width: 80%;
    color: white;
    font-size: 2vw;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

section figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    width: 28%;
    border: 1px solid black;
}
section figure img{
    width: 100%;
}

@media (max-width: 900px){
     section figure{
        width: 40%;
    } 
    .headerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .headerContentHello{
        font-size: 50px;
    }
    .headerContentText{
        font-size: 18px;
    }
}
@media (max-width: 600px){
    section figure{
        width: 80%;
    }
    .headerContentText{
        font-size: 15px;
    }
}